.st0 {
  fill: #F7F7F7;
}

.st1 {
  fill: #2A0058;
}

.st1:hover {
  cursor: pointer;
}

.st1.is-selected {
  fill: #fb9249;
}

.st2 {
  fill: #7F669B;
}

.st3 {
  fill: none;
  stroke: #7F669B;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.st4 {
  fill: none;
  stroke: #7F669B;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st5 {
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
}

.st6 {
  font-size: 7px;
}

.st7 {
  fill: #D4CCDE;
}

.st8 {
  font-size: 12px;
}

.st9 {
  fill: none;
  stroke: #7F669B;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st10 {
  fill: #fb9249;
}

.st11 {
  font-size: 5.25px;
}

.st12 {
  font-size: 8px;
}

#large {
  display: none;
}

.water, .labels, dividers {
  pointer-events: none;
}

@media only screen and (min-width: 480px) {
  #small {
    display: none;
  }

  #large {
    display: block;
  }
}

.svg-select-wrapper {
  padding-bottom: 105%; /* Hold aspect ratio */
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 480px) {
  .svg-select-wrapper {
    padding-bottom: 59%; /* Hold aspect ratio */
  }
}

.svg-select-wrapper > svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.svg-select-wrapper > select {
  display: none;
}

.map-selection {
  display: none;
  /*
  color: rgb(42, 0, 88);
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  */
}
